.product__title {
  margin-bottom: 0.75em;
}

.product__price {
  display: block;
  font-size: 1.25em;
  margin: 0 0 1em 0;
}

.product__buy {
  display: block;
  margin: 0.8em 0 1.75em 0;
  padding: 11px 28px;
  background-color: white;
  color: #5c6ac4;
  border: 0.125em solid #5c6ac4;
  box-shadow: none;
}

.product__buy:hover {
  cursor: pointer;
}

.product__image {
  max-width: 300px;
  border: 1px solid #efefef;
  padding: 1em;
  margin: 0 0 1.5em 0;
}

.product__description,
.article__content {
  line-height: 1.5;
  font-size: 1.1em;
}

.article__title {
  margin-bottom: 0.5em;
}

.article__author {
  display: block;
  margin: 0 0 1.5em 0;
  font-style: italic;
}

.back {
  margin: 2em 0 0.5em 0;
  font-style: italic;
}
