/* Hero */
.hero {
  position: relative;
  margin-top: 1em;
  margin-bottom: 2.5em;
}

.heroImage {
  width: 100% !important;
}

.heroOverlay {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
}

.heroOverlay p {
  text-align: center;
  font-size: 3em;
  color: #fefefe;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin: 0;
}

/* Products */

.topSellers ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.topSellers ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.35);
  padding: 1em 1em 2.5em 1em;
  margin-right: 0.75em;
  flex: 1 1 calc(100%/6 - 0.75em);
}

.productImage {
  width: 100%;
  height: auto;
  margin-bottom: 1.5em;
}

.productName {
  margin: 0 0 0.5em 0;
  font-size: 1.15em;
  text-align: center;
}

.viewProduct {
  position: absolute;
  bottom: 1em;
  border-bottom: 1px solid #565656;
  padding-bottom: 0.3em;
  text-decoration: none;
}

/* Articles */

.latestArticles {
  margin-top: 2em;
}

.latestArticles ul {
  margin: 0;
}

.latestArticles ul li {
  margin-bottom: 2.5em;
}

.articleName {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.articleAuthor {
  display: block;
  margin-bottom: 0.5em;
}

.readArticle {
  display: inline-block;
  margin-top: 0.5em;
  border-bottom: 1px solid #565656;
  padding-bottom: 0.3em;
  text-decoration: none;
}
